{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    ["transform-strict-mode", {
      "strict": false
    }],
    "transform-runtime",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "stage-2"
      ],
      "plugins": [
        [
          "transform-es2015-modules-commonjs",
          {
            "strictMode": false
          }
        ],
        "dynamic-import-node"
      ]
    }
  }
}
