@import (reference) "../_mixins-wln.less";

.none-enter, .none-leave-active {
  transition: none;
  /*opacity: 0;*/
  /*-webkit-transform: translate(30px, 0);*/
  /*transform: translate(30px, 0);*/
}

.none-leave-active, .none-enter {
  transition: none;
  /*opacity: 0;*/
  /*-webkit-transform: translate(-30px, 0);*/
  /*transform: translate(-30px, 0);*/
}

.fade-enter, .fade-leave-active {
  opacity: 0;
  /*-webkit-transform: translate(30px, 0);*/
  /*transform: translate(30px, 0);*/
}

.fade-leave-active, .fade-enter {
  opacity: 0;
  /*-webkit-transform: translate(-30px, 0);*/
  /*transform: translate(-30px, 0);*/
}

.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  transform: translate(10px, 0);
}

.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  transform: translate(-10px, 0);
}

.slide-down-enter, .slide-up-leave-active {
  opacity: 0;
  transform: translateY(-30%);
}

.fade-in-down-leave-active, .fade-in-up-enter {
  opacity: 0;
  transform: translateY(-30%);
}

.fade-in-down-enter, .fade-in-up-leave-active {
  opacity: 0;
  transform: translateY(-30%);
}

.fade-in-down-leave-active, .fade-in-up-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.slide-in-down-enter, .slide-in-up-leave-active {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-in-down-leave-active, .slide-in-up-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.rotateY-enter, .rotateY-leave-active {
  /*opacity: 0;*/
  /*transform: rotate3d();*/
  transform: perspective(500px) rotate3d(0, 1, 0, -90deg);
}

.rotateY-leave-active, .rotateY-enter {
  /*opacity: 0;*/
  transform: perspective(-500px) rotate3d(0, 1, 0, 90deg);
}

@duration: 0.3s;
.flipY-right-enter-active {
  animation: flipInY @duration;
}

.flipY-right-leave-active {
  animation: flipOutY @duration reverse;
}

.flipY-left-enter-active {
  animation: flipOutY @duration;
}

.flipY-left-leave-active {
  animation: flipInY @duration reverse;
}

@perspective: 300vw;
@keyframes flipInY {
  from {
    transform: perspective(@perspective) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease;
  }
  to {
    transform: perspective(@perspective);
  }
}

@keyframes flipOutY {
  from {
    transform: perspective(@perspective) rotate3d(0, 1, 0, -90deg);
    animation-timing-function: ease;
  }
  to {
    transform: perspective(@perspective);
  }
}

/*.flipInY {*/
/*-webkit-backface-visibility: visible !important;*/
/*backface-visibility: visible !important;*/
/*animation-name: flipInY;*/
/*}*/
